#stopwatch-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 100px auto 0;
    width: fit-content;
    padding: 10px 20px;
  }

  #stopwatch {
    margin: 0 auto;
    text-align: center;
    font-size: 60px;
  }

  #buttons-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  #buttons-container button {
    outline: none;
    cursor: pointer;
    color: #fff;
    background-color:#000;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    margin: 0 10px;
    padding: 3px 8px;
    position: relative;
    left: -2vw;
    font-family: 'fint';
  }

  #buttons-container button:active {
    opacity: 0.7;
  }
  body {
    display: grid;
    background-image: url(img/tenor.gif);
    background-size: cover;
    background-position: center;
    height: 100vh;
    align-content: center;
  }
  h1 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    align-content: flex-start;
    font-family: 'fint';
    font-size: 4vh;
    color: palevioletred;
  }
  p {
    color: darkgrey;
    font-family: 'fint';
  }
  @font-face {
    font-family: "fint";
    src: url("./fonts/fint.ttf");
    font-style: normal;
    font-weight: normal;
  }